@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --main-font: "Orbitron", sans-serif;
  --font-color: white;
  --main-clr: darkblue;
}
button {
  font-family: var(--main-font);
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 325px;
  border: 2px solid var(--main-clr);
  border-radius: 1em;
  padding: 0.5em;
  background-color: black;
  gap: 5px;
  box-shadow: 0 5px 10px 7px gray;
}

.screen {
  display: flex;
  align-items: center;
  color: var(--font-color);
  height: 200px;
  max-width: 300px;
  margin: 10px;
  margin-top: 2px;
  border-radius: 1em;
  justify-content: center;
  letter-spacing: 5px;
  font-weight: 300;
}

.numbers {
  gap: 5px;
}

.numbers button {
  height: 5.5em;
  width: 5.5em;
  background-color: var(--main-clr);
  color: var(--font-color);
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 600;
}

.digits {
  display: flex;
  gap: 5px;
}

.digits button {
  height: 5em;
  width: 5em;
  background-color: var(--main-clr);
  border-radius: 10px;
  border: none;
  color: var(--font-color);
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
}

button:hover {
  color: gray;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  .calculator {
    max-width: 100%;
  }
}
